body {
    font-family: Arial;
    padding: 0;
    margin: 0;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
    width: 100%;
}

* {
//border: 1px solid red;
    padding: 0;
    margin: 0;
}

div {
    box-sizing: border-box;
}

.container {
    width: 1040px;
    margin: 0 auto;
}

.heading {
    display: flex;
    align-items: baseline;
    background: #0b3b54;
    color: #C9A920;
    padding: 37px 20px 42px;

}

.heading__name {
    font-size: 24px;
}

.heading__menu {
    list-style-type: none;
    display: flex;
    margin-left: 23px;
    padding: 0;
}

.heading__menu li {
//margin: 0 auto;
}

.heading__menu a {
    text-decoration: none;
    color: #C9A920;
    margin: 13px;
}

.intro {
    background: #f5f5f5;
    padding: 52px 20px 100px;
}

.intro__main {
    display: flex;
}

.intro__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 50px;
}

.intro__image {
//float: left;
}

.intro__text-block {
    margin-left: 16px;
    width: 513px;
    flex-shrink: 0;
}
.intro__text {
    text-align: justify;
    line-height: 1.25;
}
.intro__form {
    float: right;
    display: block;
    width: 272px;
    height: 206px;
    border: 2px solid grey;
    margin: 0 20px 40px;
}

.form {
    padding: 34px 20px;
}

.form__title {
    font-size: 16px;
    font-weight: normal;
}

.form__description {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 0;
}

.form__input {
    display: block;
}

.form__submit {
    margin-top: 18px;
}
.form__submit-btn {
    padding: 0 10px;
}

